.instructor-container {
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
}

.instructor-container .instructor-img {
	height: 76vh;
}

.instructor-container .instructor-img img {
	object-position: top center;
	object-fit: cover;
	height: 100%;
}

.instructor-container .instructor-info {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.instructor-info .outer {
	width: 2px;
	height: 100%;
	margin: auto;
	overflow: hidden;
	position: absolute;
	top: -8%;
	left: 9%;
}
.instructor-info .inner {
	position: absolute;
	width: 100%;
	height: 60%;
	background: grey;
	top: 30%;
	box-shadow: 0px 0px 30px 20px grey;
}

.instructor-container .instructor-info h5 {
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 20px 20px;
	margin: 30px 0;
	font-weight: 300;
}

.instructor-info h5 span {
	font-weight: 500;
	margin-left: 10px;
	color: #006d77;
}
