.dashboard-main-container {
	display: flex;
	justify-content: center;
	margin: 15px 0 0 0;
}

.dashboard-main-container .dashboard-container {
	display: flex;
	justify-content: center;
}

.dashboard-main-container #blur {
	filter: blur(1.5px);
}

.dashboard-container .left {
	margin-right: 15px;
}

.dashboard-container .middle {
	background-color: white;
	border-radius: 10px 0 0 0;
	box-shadow: var(--box-shadow);
	overflow-y: scroll;
	height: 88.5vh;
}

.dashboard-container .right {
	flex-grow: 1;
	border-radius: 0 10px 0 0;
	box-shadow: var(--box-shadow);
	position: relative;
	overflow: hidden;
}
