.advisor-info-container .layout .wrapper {
	background-color: white;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	position: relative;
}

/* profile-img style start  */
.advisor-info-container .advisor-profile {
	display: flex;
	justify-content: center;
	align-items: center;
}

.advisor-info-container .advisor-profile .img-wrapper {
	margin: 30px 0 0 0;
}
.advisor-info-container .advisor-profile img {
	width: 200px;
	height: 200px;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: top center;
	border-radius: 50%;
	border: 3px solid white;
}

.advisor-info-container .advisor-profile img.animation {
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translateY(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translateY(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translateY(0px);
	}
}

/* profile-img style end  */

/* input field style start  */
.advisor-info-container .advisor-info {
	margin: 10px 0 0 0;
	padding-bottom: 19px;
}

.advisor-info-container .advisor-info .info {
	display: flex;
	justify-content: center;
}

.advisor-info-container .advisor-info span {
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 15px 20px;
	margin: 20px;
	font-weight: 500;
	flex-basis: 40%;
}

.advisor-info-container .advisor-info span label {
	cursor: pointer;
}

.advisor-info-container .advisor-info span input {
	border: none;
	outline: none;
	width: 65%;
	padding-left: 5px;
	font-weight: 600;
	color: #006d77;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
}

.advisor-info-container .advisor-info #name input {
	width: 84%;
}

.advisor-info-container .advisor-info #email input {
	width: 85%;
	text-transform: none;
}
.advisor-info-container .advisor-info #year input {
	width: max-content;
}

.advisor-info-container .advisor-info #phone-number input {
	width: 60%;
	margin-left: 5px;
}

.advisor-info-container .advisor-info #phone-number h6 {
	display: inline;
	font-weight: 600;
	color: #006d77;
	margin: 0;
}

.advisor-info-container .advisor-info #department {
	text-transform: uppercase;
}

.advisor-info-container .advisor-info .null {
	font-weight: 600;
	color: #006d77;
}

/* input field style end  */
