.profile-edit-container {
	position: absolute;
	top: 0;
	width: 100%;
}

.profile-edit-container .layout {
	display: flex;
	justify-content: center;
}

.profile-edit-container .layout .wrapper {
	background-color: white;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	position: relative;
}

.profile-edit-container .layout #blur {
	filter: blur(1.5px);
	background-color: white;
}

/* icon style start  */
.profile-edit-container .wrapper .icon {
	font-size: 25px;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.profile-edit-container .wrapper .icon span:hover i {
	transform: scale(0.93);
}

.profile-edit-container .wrapper .icon span:first-child {
	border-radius: 50%;
	padding: 5px 12px;
	color: red;
	background-color: #fff2e5;
	margin-right: 20px;
}

.profile-edit-container .wrapper .icon span:first-child i {
	margin-left: 4px;
}

.profile-edit-container .wrapper .icon span#when-not-admin {
	display: none;
}

.profile-edit-container .wrapper .icon span:nth-child(2) {
	border-radius: 50%;
	padding: 5px 7px;
	color: #228bc5;
	background-color: #eaefff;
	margin-right: 20px;
}

.profile-edit-container .wrapper .icon span:nth-child(2) i {
	margin-left: 4px;
}

.profile-edit-container .wrapper .icon span:last-child {
	border-radius: 50%;
	padding: 5px 11px;
	color: #f3722c;
	background-color: #fff2e5;
}
/* icon style end  */

/* profile-img style start  */
.profile-edit-container .curr-user-profile {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-edit-container .curr-user-profile .img-wrapper {
	position: relative;
	margin: 20px 0 0 0;
}
.profile-edit-container .curr-user-profile img {
	width: 200px;
	height: 200px;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: top center;
	border-radius: 50%;
	border: 3px solid white;
}

.profile-edit-container .curr-user-profile img.animation {
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translateY(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translateY(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translateY(0px);
	}
}

.profile-edit-container .curr-user-profile .change-img {
	position: absolute;
	bottom: 16px;
	right: 18px;
	z-index: 10;
	border-radius: 50%;
	border: 3px solid white;
	color: #3a86ff;
	background-color: white;
	cursor: pointer;
}

.profile-edit-container .curr-user-profile .change-img i {
	font-size: 24px;
	cursor: pointer;
}
/* profile-img style end  */

/* input field style start  */
.profile-edit-container .curr-user-info {
	margin: 10px 0 0 0;
	padding: 0 40px;
}

.profile-edit-container .curr-user-info .info {
	display: flex;
	justify-content: center;
}

.profile-edit-container .curr-user-info span {
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 10px 20px;
	margin: 15px 20px;
	font-weight: 500;
	flex-basis: 40%;
	position: relative;
}

.profile-edit-container .curr-user-info span:focus {
	outline: 4px solid #c2daff;
}

.profile-edit-container .curr-user-info span label {
	cursor: pointer;
}

.profile-edit-container .curr-user-info span input {
	border: none;
	outline: none;
	width: 70%;
	padding-left: 5px;
	font-weight: 600;
	color: #006d77;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
}

.profile-edit-container .curr-user-info span .input-text {
	margin: 0 0 0 20px;
	display: inline-block;
}

.profile-edit-container .curr-user-info span .input-text-hide {
	display: none;
}

.profile-edit-container .curr-user-info #name input {
	width: 84%;
}

.profile-edit-container .curr-user-info .outline-style {
	outline: 3px solid #c2daff;
}

.profile-edit-container .curr-user-info #outline-style {
	outline: 3px solid #c2daff;
}

.profile-edit-container .curr-user-info #email input {
	width: 85%;
	text-transform: none;
}

.profile-edit-container .curr-user-info .remove-pd {
	padding: 10px 0 !important;
}

.profile-edit-container .curr-user-info #for-year span {
	padding: 0 !important;
}

.profile-edit-container .curr-user-info .remove-pd input {
	padding: 0 20px !important;
}

.profile-edit-container .curr-user-info #year input {
	width: max-content;
}

.profile-edit-container .curr-user-info #current-p input {
	width: 60%;
	margin-left: 5px;
}

.profile-edit-container .curr-user-info #current-p input:focus {
	background-color: transparent;
}

.profile-edit-container .curr-user-info #phone-number input {
	width: 60%;
	margin-left: 5px;
}

.profile-edit-container .curr-user-info #new-p input {
	width: 60%;
}

.profile-edit-container .curr-user-info #current-p {
	outline: 3px solid #c2daff;
}

.profile-edit-container .curr-user-info #phone-number {
	outline: 3px solid #c2daff;
}

.profile-edit-container .curr-user-info #phone-number:focus {
	background-color: transparent;
}

.profile-edit-container .curr-user-info #phone-number h6 {
	display: inline;
	font-weight: 600;
	color: #006d77;
	margin: 0;
}

.profile-edit-container .curr-user-info #new-p {
	margin: 0;
	flex-basis: 42.7%;
	margin-left: 35px;
	outline: 3px solid #c2daff;
}

.profile-edit-container .curr-user-info .last-field {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 15px 40px;
}

.profile-edit-container .profile-btn {
	flex-basis: 45%;
	display: flex;
	justify-content: flex-end;
	margin-right: 30px;
}
.profile-edit-container .profile-btn button {
	padding: 7px 20px;
	font-size: 17px;
	font-weight: 500;
}

.profile-edit-container .profile-btn button:hover {
	transform: scale(0.97);
}

/* input field style end  */

/* for delete conform popup style start  */
.profile-edit-container .layout .wrapper .conformation-popup {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 5px 5px red;
	padding: 35px 35px 10px 35px;
	position: absolute;
	left: 33%;
	top: 28%;
}

.profile-edit-container
	.layout
	.wrapper
	.conformation-popup
	.delete-controller {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}

.profile-edit-container
	.layout
	.wrapper
	.conformation-popup
	.delete-controller
	button:first-child {
	margin-right: 30px;
}
/* for delete conform popup style end  */

/* password toggle eye style start  */
.curr-user-info .password-field {
	position: relative;
}

.curr-user-info .password-field #eye {
	position: absolute;
	top: 25%;
	right: 20px;
}

.curr-user-info .password-field #eye i {
	opacity: 0.7;
}

/* password toggle eye style end  */

/* range container style start  */
.curr-user-info .range-container {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-weight: 600;
	font-size: 18px;
	overflow: hidden;
	padding-left: 20px;
}

.curr-user-info .range-container h6 {
	margin: 0;
	width: fit-content;
	font-weight: 600;
	font-size: 16px;
}

.curr-user-info .range-container .range-fields {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
}

.curr-user-info .range-container input {
	border: none;
	outline: none;
	width: 90px;
	text-align: center;
}
/* range container style end  */
