.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}

.login-container .form-container {
	background-image: url("./login-img.png");
	box-shadow: var(--box-shadow);
	border-radius: var(--card-border-radius);
	/* From https://css.glass */
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 60vh;
	opacity: 0.9;
}

.login-container .form-container .right {
	display: flex;
	flex-direction: column;
}

.login-container .form-container .right img {
	width: 330px;
	height: 88px;
	padding: 25px 0 10px;
	box-sizing: content-box;
	align-self: center;
	margin-right: 30px;
}

.login-container .form-container .right form {
	padding: 20px 25px 0 0;
	background-color: #fbf7fb;
}

.login-container .form-container .right form input {
	font-weight: 500;
	background-color: transparent !important;
}

.login-container .form-container .right form input:focus {
	font-weight: 500;
	background-color: transparent;
}

.form-container .right form button {
	padding: 7px 20px;
	font-size: 17px;
	font-weight: 500;
}

/* password eye style start  */

.form-container .right #password-field {
	position: relative;
}

.form-container .right #password-field #eye {
	position: absolute;
	top: 30%;
	right: 20px;
}

.form-container .right #password-field #eye i {
	opacity: 0.7;
}

/* password eye style end  */
