.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}

.login-container .form-container {
	display: flex;
	align-items: center;
	box-shadow: var(--box-shadow);
	border-radius: var(--card-border-radius);
	width: 100%;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	height: 57vh;
}

.login-container .form-container .left {
	display: flex;
	height: 100%;
	width: 50%;
	border-radius: 10px 0 0 10px;
	overflow: hidden;
}

.login-container .form-container .left img {
	object-fit: 100%;
	object-position: center;
}

.login-container .form-container .right {
	display: flex;
	flex-direction: column;
}

.login-container .form-container .right img {
	width: 330px;
	height: 88px;
	box-sizing: content-box;
	align-self: center;
	margin: 0 30px 30px 0;
}

.login-container .form-container .right form {
	padding: 10px 40px 20px;
}

.login-container .form-container .right form input {
	font-weight: 500;
	background-color: transparent !important;
	border-width: 3px;
	border-radius: 10px;
}

.login-container .form-container .right form input:focus {
	font-weight: 500;
	background-color: transparent;
}

.form-container .right form button {
	padding: 7px 20px;
	font-size: 17px;
	font-weight: 500;
}

.form-container .right form button:hover {
	transform: scale(1.05);
}

.form-container .right form button:active {
	transform: scale(0.98);
}

/* password eye style start  */

.form-container .right #password-field {
	position: relative;
}

.form-container .right #password-field #eye {
	position: absolute;
	top: 30%;
	right: 20px;
}

.form-container .right #password-field #eye i {
	opacity: 0.7;
}
/* password eye style end  */

/* media query start  */
@media screen and (max-width: 650px) {
	.login-container .form-container-wrapper {
		margin-top: -60px;
	}

	.login-container .form-container {
		height: 350px;
	}
}

@media screen and (max-width: 550px) {
	.login-container .form-container-wrapper {
		margin-top: -70px;
	}

	.login-container .form-container .right form {
		padding: 10px 20px 20px;
	}

	.login-container .form-container .right img {
		width: 300px;
		height: 70px;
	}
}

@media screen and (max-width: 410px) {
	.login-container .form-container .right img {
		width: 260px;
		height: 70px;
	}
}
