.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("./../../../public/assets/images/login-cover.png");
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.login-container .form-container {
	background-color: white;
	box-shadow: var(--box-shadow);
	border-radius: var(--card-border-radius);
	height: max-content;
}

.login-container .form-container .right h2 {
	color: var(--project-name-color);
	margin: 0;
	padding: 15px 0px 10px 0;
	text-align: center;
	font-weight: 600;
}

.login-container .form-container .right form {
	padding: 20px 20px 0 0;
}

.login-container .form-container .right form input {
	font-weight: 500;
}

.form-container .right form button {
	padding: 7px 20px;
	font-size: 17px;
	font-weight: 500;
}
