.signup-container {
	position: absolute;
	width: 65%;
	height: 80%;
	margin: auto;
	background-color: white;
	box-shadow: var(--box-shadow);
	border-radius: var(--card-border-radius);
	z-index: 10;
}

.signup-container .left {
	border: 1px solid red;
}

.signup-container .right {
	border: 1px solid red;
}
