/* appointment-summary style start  */
.dashboard-container .appointment-container {
	display: flex;
	justify-content: center;
}

.appointment-container .appointment-summary {
	display: flex;
	justify-content: space-between;
}

.appointment-summary .appointment-count {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-radius: var(--card-border-radius);
	box-shadow: var(--box-shadow);
	padding: 25px 12px 20px 25px;
	width: 243px;
}

.appointment-count .total,
.solved,
.pending,
.rejected {
	display: flex;
	flex-direction: column;
	font-weight: 500;
}

.appointment-summary .appointment-count .total span {
	font-size: 23px;
	font-weight: 600;
	color: #0077b6;
}

.appointment-count .solved span {
	font-size: 23px;
	font-weight: 600;
	color: #06d6a0;
}
.appointment-count .pending span {
	font-size: 23px;
	font-weight: 600;
	color: #7209b7;
}
.appointment-count .rejected span {
	font-size: 23px;
	font-weight: 600;
	color: #f3722c;
}

.appointment-summary .appointment-count .icon {
	display: flex;
	align-self: center;
	padding: 12px;
	border-radius: 50%;
}

.appointment-container .appointment-count:first-child .icon {
	background-color: #eaefff;
	color: #0077b6;
}

.appointment-container .appointment-count:nth-child(2) .icon {
	background-color: #e6faf4;
	color: #06d6a0;
}

.appointment-container .appointment-count:nth-child(3) .icon {
	background-color: #f2eff9;
	color: #7209b7;
	padding: 12px 15px;
}

.appointment-container .appointment-count:last-child .icon {
	background-color: #fff2e5;
	color: #f3722c;
}

.appointment-count > span i {
	font-size: 19px;
}

/* appointment-summary style end  */

/* appointment-list style start  */
.dashboard-container .appointment-list {
	background-color: white;
	border-radius: var(--card-border-radius);
	box-shadow: var(--box-shadow);
	height: 67vh;
	margin-top: 40px;
	overflow-y: scroll;
	/* padding: 20px 10px 0; */
}

.appointment-list .header {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	border-bottom: 1px solid red;
}

.appointment-list .header h5 {
	margin: 0;
	word-spacing: 5px;
	padding: 0 0 0 20px;
	border-left: 5px solid #3366ff;
	align-self: center;
	opacity: 0.9;
}

.appointment-list .header .btn {
	font-weight: 500;
	background-color: #184780;
	color: white;
	font-size: 14px;
	margin: 0px 12px 0px 0px;
}

.appointment-list .header .btn i {
	margin-right: 5px;
	font-size: 15px;
}

/* for scrollbar style  */
.appointment-list::-webkit-scrollbar-thumb {
	background-color: #7400b8;
}

.appointment-list::-webkit-scrollbar {
	width: 4px;
}
/* appointment-list style end  */
