.curr-user-info .year-container {
	display: inline-block;
	position: relative;
}

.curr-user-info .year-container input {
	cursor: pointer;
	background-color: #fff;
	border: none;
	outline: none;
	border-radius: 5px;
	font-weight: 600;
	font-size: 18px;
	width: 100% !important;
	padding: 4px 6px;
	text-align: center;
}

/* date-picker modify start  */
.curr-user-info
	.year-container
	.react-calendar__decade-view
	.react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
	padding: 1em 0.5em;
}

.curr-user-info .year-container .react-date-picker__calendar {
	inset: auto auto 130% -130% !important;
}

.curr-user-info .year-container .react-date-picker__wrapper {
	width: 100px;
	border: none !important;
}

/* date-picker modify end  */
