/* search-bar style start  */
.dashboard-container .middle .search {
	display: flex;
	align-items: center;
	align-self: center;
	background-color: #edf6f9;
	padding: 13px 11px;
}

.dashboard-container .middle .search i {
	font-size: 21px;
	margin: 3px 0 0 10px;
	color: #738290;
}

.dashboard-container .middle .search input {
	margin: 0 0 0 11px;
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
}
/* search-bar style end  */

.dashboard-container .middle .user {
	display: flex;
	align-items: center;
}

.dashboard-container .middle .user:hover {
	background-color: var(--hover-bg-color);
}

.dashboard-container .middle .user img {
	margin: 0 0 0 10px;
	cursor: pointer;
}

.middle .user section {
	flex-grow: 1;
	padding: 15px 10px;
	border-bottom: 1px solid #dad7cd;
	cursor: pointer;
	overflow: hidden;
}

.middle .user .above {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.middle .user .above h6 {
	margin: 3px 0 0 0;
	font-weight: 600;
	letter-spacing: 0.5px;
	word-spacing: 4px;
	font-size: 17px;
	max-width: 70%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.middle .user .above span {
	margin: 4px 0 0 0;
	font-size: 13px;
}
.middle .user .down {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 15px;
}
