.navbar-main-container {
	background-color: #fff;
	display: flex;
	justify-content: center;
	padding: 3px 0;
}

.navbar-main-container .navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* left start  */
.navbar-container .left {
	display: flex;
	align-items: center;
}

.navbar-container .left img {
	width: 65px;
	min-width: 50px;
	height: 60px;
	min-height: 50px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	overflow: hidden;
	object-fit: 100%;
	object-position: center;
	cursor: pointer;
}

.navbar-container .left h2 {
	font-weight: 600;
	margin: 0 0 0 10px;
	letter-spacing: 2px;
	color: var(--project-name-color);
	cursor: pointer;
	transform: scale(1, 1.3);
}
/* left end  */

/* middle start  */
.navbar-container .middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-container .middle .total {
	color: #fff;
	font-weight: 600;
	padding: 10px 45px;
	font-size: 17px;
	border-radius: 7px;
	box-shadow: var(--box-shadow);
	cursor: pointer;
}

.navbar-container .middle .total:first-child {
	background-color: var(--instructor-bg-color);
	margin: 0 0 0 20px;
}
.navbar-container .middle .total:last-child {
	background-color: var(--student-bg-color);
	margin: 0 0 0 30px;
}
/* middle end  */

/* right start  */
.navbar-container .right {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-container .right .icon-style {
	display: flex;
	justify-content: space-evenly;
	flex-grow: 1;
}

.navbar-container .right .icon-style span {
	position: relative;
}

.navbar-container .right .icon-style span i {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #738290;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
	font-size: 22px;
	cursor: pointer;
}

.navbar-container .right .icon-style span i::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: -90px;
	left: 0;
	background-image: linear-gradient(
		205deg,
		hsl(190deg 100% 20%) 0%,
		hsl(196deg 100% 25%) 8%,
		hsl(201deg 100% 30%) 16%,
		hsl(205deg 100% 35%) 23%,
		hsl(219deg 58% 49%) 31%,
		hsl(248deg 54% 60%) 40%,
		hsl(279deg 57% 57%) 50%,
		hsl(307deg 64% 54%) 63%,
		hsl(319deg 100% 50%) 90%
	);
	transition: transform 0.4s;
	transition: color 0.5s;
	z-index: -1;
}

.navbar-container .right .icon-style span i:hover::after {
	top: 0;
}

.navbar-container .right .icon-style span i:hover {
	transform: translateY(-5px);
	color: #faf3dd;
}

/* for notification badge style start  */
.navbar-container .right .icon-style span i div {
	width: fit-content !important;
	height: fit-content !important;
}

.right .icon-style span i .notification-count {
	top: -16px !important;
	right: -11px !important;
}

.right .notification-container {
	position: absolute;
	top: 58px;
	right: 0;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	overflow-x: hidden;
	overflow-y: auto;
	height: -moz-fit-content;
	height: fit-content;
	max-height: 50vh;
	width: 443px;
	z-index: 999;
	padding: 0;
	margin: 0;
}

.right .no-notification {
	position: absolute;
	top: 58px;
	right: 0;
	background-color: white;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	overflow-x: hidden;
	overflow-y: auto;
	width: 443px;
	z-index: 999;
	padding: 10px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right .no-notification h6 {
	margin: 0;
}

.right .notification-container .notification-display {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 5px 2px 5px 15px;
	border-bottom: 1px solid #dad7cd;
	width: 100%;
	position: relative;
}

.right .notification-container .notification-display:hover {
	background-color: var(--hover-bg-color);
}

.right .notification-container .notification-display > div {
	display: flex;
	padding: 15px 10px;
}

.notification-container .notification-display h6 {
	margin: 0 8px 0 0;
	align-self: center;
	font-weight: 500;
	letter-spacing: 0.5px;
	word-spacing: 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #228bc5;
}

.notification-container .notification-display span {
	width: 228px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.notification-display .last-message {
	display: flex;
	flex-direction: column;
	padding: 5px 10px !important;
}

.notification-display .notification-time {
	position: absolute;
	top: -11px;
	right: 0;
	font-size: 14px;
}

/* for notification badge style end  */

.navbar-container .right img {
	cursor: pointer;
}
/* right end  */

/* style for dropdown */
.navbar-container .nav-profile {
	position: relative;
}

.nav-profile ul {
	position: absolute;
	top: 58px;
	right: 0;
	background-color: white;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	z-index: 10;
	width: 160px;
	padding: 0;
	overflow: hidden;
	animation: rotateX 0.5s ease-in-out forwards;
}

.nav-profile ul li {
	list-style-type: none;
	padding: 10px 0;
	font-weight: 500;
	cursor: pointer;
}

.nav-profile ul li:first-child {
	border-bottom: 1px solid rgb(216, 211, 211);
}

.nav-profile ul li#create {
	border-bottom: 1px solid rgb(216, 211, 211);
	display: none;
}

.nav-profile ul li#create i {
	color: #0ead69;
}

.nav-profile ul li#create:hover i {
	color: white;
}

.nav-profile ul li.total-values {
	border-bottom: 1px solid rgb(216, 211, 211);
}

.nav-profile ul li.total-values i {
	margin: 0 10px 0 16px;
}

.nav-profile ul li.total-values span {
	margin: 0 0px 0 -3px;
}

.nav-profile ul li.total-values span h6 {
	display: inline-block;
	color: white;
	font-weight: bolder;
	background-color: #0ead69;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin: 0 0 0 7px;
	text-align: center;
}

.nav-profile ul li:hover {
	background-color: #62baea;
	color: #fff;
}

.nav-profile ul li i {
	margin: 0 10px 0 20px;
	font-size: 17px;
	opacity: 0.8;
}

.nav-profile ul li:first-child i {
	color: #62baea;
}

.nav-profile ul li:first-child:hover i {
	color: white;
}

.nav-profile ul li:last-child i {
	color: orangered;
}

@keyframes rotateX {
	0% {
		transform: scaleY(0);
	}
	80% {
		transform: scaleY(1.1);
	}
	100% {
		transform: scaleY(1);
	}
}

.navbar-container .right .icon-style span.visible {
	visibility: hidden !important;
}

/* media query start  */
@media screen and (min-width: 1200px) {
	.navbar-container .right .icon-style span {
		margin: 0 25px 0 0;
	}
	.nav-profile ul li.total-values {
		display: none;
	}

	.right .icon-style span i .notification-count {
		right: -37px !important;
	}
}

@media screen and (max-width: 650px) {
	.navbar-container .left {
		width: 240px;
	}

	.navbar-container .nav-right-container {
		display: flex;
		justify-content: flex-end;
		width: fit-content;
	}

	.navbar-container .right .icon-style span#create-new-user {
		display: none;
	}

	.nav-profile ul li#create {
		display: block;
	}

	.navbar-container .right .icon-style {
		margin: 0 30px 0 0;
	}

	.navbar-container .right .icon-style span:nth-child(2) {
		margin: 0 30px 0 0;
	}
}

@media screen and (max-width: 540px) {
	.navbar-container .left h2 {
		transform: scale(0.7, 1.7);
		margin: 0 0px 0 -13px;
	}

	.navbar-container .right .icon-style {
		margin: 0 20px 0 0;
	}
	.navbar-container .right .icon-style span:nth-child(2) {
		margin: 0 20px 0 0;
	}
}

@media screen and (max-width: 430px) {
	.navbar-container {
		padding: 5px 0;
	}

	.navbar-container .left img {
		max-width: 50px;
		max-height: 50px;
	}

	.navbar-container .right .icon-style {
		margin: 0 10px 0 0;
	}

	.navbar-container .right .icon-style span:nth-child(2) {
		margin: 0 10px 0 0;
	}
}

@media screen and (max-width: 370px) {
	.navbar-container .left h2 {
		transform: scale(0.6, 1.5);
		margin: 0 0 0px -23px;
	}
}

/* media query for responsive box  */
@media screen and (max-width: 650px) {
	.right .notification-container#for-message {
		right: -180px;
	}
}

@media screen and (max-width: 600px) {
	.right .notification-container#for-appointment {
		right: -100px;
	}
}

@media screen and (max-width: 550px) {
	.right .notification-container#for-message {
		right: -160px;
	}
}

@media screen and (max-width: 450px) {
	.right .notification-container#for-message {
		right: -154px;
		width: 414px;
	}

	.right .notification-container .notification-display {
		padding: 5px 2px;
	}
}

@media screen and (max-width: 400px) {
	.right .notification-container {
		width: 300px !important;
	}
	.right .notification-container .notification-display img {
		display: none;
	}
}
